[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "tbNiTa9Ga4hwDVATFJlcgI4BG"},
	    {api_secret, "zax4MrXyX1QjTwr2FR1kBQPpf5SgShYAeHOXbL2DYb1VoB4aZn"},
	    {access_token, "2856982421-5FUAa90XxHSencIVjywioI98YvAsau7kfPA2iVI"},
	    {access_token_secret, "m2uKGccXFqGxHZfDXqjCavFGI6SaUoJATEa04MpyZ3SII"}]
    }]}
	
  ,{riak_nodes, [
	{riak1, [
		{host, "127.0.0.1"},
	    {port, 10017}]}]}
	]}].
